<header>
  <h1><%= @user.Name %></h1>
  <br/>
</header>

<main>
  <%= link_to "A New Post", new_user_post_path %>
  <br />
  <% @user.posts.each do |post| %>
    <div>
      <h3><%= link_to post.Title, user_post_path(@user.id, post.id) %></h3>
      <p><%= post.Text %></p>
      <span>Comments: <%= post.CommentsCounter %>,</span>
      <span>Likes: <%= post.LikesCounter %></span>
      <% post.recent_comments.each do |comment|%>
      <p>name: <%= comment.Text%></p>
      <% end %>
    </div>
    <% end %>
</main>