<div>
    <div>
        <div>
            <h2>Post : <%= @post.Title %> by <%= @post.user.Name %></h2>
            <h3>Comments: <%= @post.CommentsCounter%>, Likes: <%= @post.LikesCounter %><h3>
        </div>
        <p><%= @post.Text %></p>

        <% @comments.each do |comment|%>
            <h3><%= comment.user.Name %><%= comment.Text %></h3>
        <% end %>
    </div>
</div>